.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  padding: 0;
  line-height: 23px;
  border: 0px solid #999999;
  border-radius: 23px;
  background-color: #b4b4b4;
  transition: background-color 0.2s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 25px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  border: 1px solid #999999;
  border-radius: 23px;
  transition: all 0.2s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #4a47c7;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #4a47c7;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
