.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  padding: 0;
  line-height: 23px;
  border: 0px solid #999999;
  border-radius: 23px;
  background-color: #b4b4b4;
  transition: background-color 0.2s ease-in; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 25px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  border: 1px solid #999999;
  border-radius: 23px;
  transition: all 0.2s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #4a47c7; }

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #4a47c7; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

html {
  -webkit-user-select: none;
  -webkit-user-drag: none; }

body {
  margin: 0;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  background-color: #242424;
  color: #fff;
  height: 100% !important; }

.wrapper {
  display: flex; }

.container-after-titlebar {
  overflow: hidden !important; }

p {
  font-size: 1.6em; }

span {
  font-size: 1.4em; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em;
  margin: 1.3rem 0;
  color: #e2e2e2; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

hr {
  width: 70%;
  border: 0.04rem solid #b4b4b4; }

ul {
  list-style: none; }

img {
  width: 100%;
  max-height: 2rem; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

main {
  overflow: hidden;
  height: 100vh;
  padding: 0 0.8rem; }

header {
  background-color: #303030;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 1rem 0; }

::-webkit-scrollbar {
  width: 0.5rem; }

::-webkit-scrollbar-track {
  background: #303030;
  border-radius: 0.5rem; }

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 0.5rem; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.app-title {
  font-size: 2em; }

.d-nav {
  padding: 0 0.8rem;
  background-color: #212121;
  overflow-y: auto;
  width: 18rem;
  min-width: 15rem;
  height: 100vh; }
  .d-nav h4 {
    text-transform: uppercase;
    text-align: center; }

.d-wrapper {
  margin: 1rem 0;
  padding: 0.4rem 0;
  background-color: #303030;
  border-radius: 0.5rem; }
  .d-wrapper ul {
    padding: 0;
    width: 100%; }
    .d-wrapper ul li {
      margin: auto;
      padding: 0.1rem 0;
      width: 100%;
      text-align: center; }
      .d-wrapper ul li h5 {
        margin: 0.7rem 0; }
      .d-wrapper ul li button {
        background-color: #303030;
        padding: 0.5rem;
        margin: 0;
        width: 100%;
        color: #e2e2e2; }
        .d-wrapper ul li button:hover {
          background-color: #404040; }
        .d-wrapper ul li button:focus {
          background-color: #4a47c7; }

.is-selected {
  background-color: #4a47c7; }

.s-nav .settings-button, .s-nav .notifications-button, .settings .close-settings-button, .notifications .close-notifications-button {
  position: absolute;
  bottom: 1rem;
  border-radius: 50%;
  color: #fff;
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  background-color: #303030; }
  .s-nav .settings-button img, .s-nav .notifications-button img, .settings .close-settings-button img, .notifications .close-notifications-button img {
    transform: scale(1.1);
    padding: 0; }
  .s-nav .settings-button:hover, .s-nav .notifications-button:hover, .settings .close-settings-button:hover, .notifications .close-notifications-button:hover {
    background-color: #404040; }
  .s-nav .settings-button:focus, .s-nav .notifications-button:focus, .settings .close-settings-button:focus, .notifications .close-notifications-button:focus {
    background-color: #4a47c7; }

.s-nav {
  padding: 0 0.5rem;
  height: 100vh;
  width: 4rem; }
  .s-nav .s-ul {
    padding: 0; }
    .s-nav .s-ul li {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .s-nav .s-ul button {
      border-radius: 50%;
      color: #fff;
      width: 3rem;
      height: 3rem;
      padding: 1rem;
      background-color: #303030; }
      .s-nav .s-ul button:hover {
        background-color: #404040; }
      .s-nav .s-ul button:focus {
        background-color: #4a47c7; }
  .s-nav .notifications-button {
    bottom: 5rem; }
    .s-nav .notifications-button img {
      transform: scale(2.1); }

.settings, .notifications {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  background-color: #242424;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
  transition: visibility 0s 0.12s linear, opacity 0.12s ease-in, transform 0.12s ease-in; }

.option {
  display: flex;
  background-color: #303030;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 25rem; }
  .option .o-wrapper {
    display: flex;
    flex-direction: column; }
    .option .o-wrapper .option-title {
      margin: 0;
      padding-top: 0.6rem;
      padding-bottom: 0.2rem; }
    .option .o-wrapper .option-desc {
      margin: 0;
      padding-bottom: 0.6rem;
      color: #b4b4b4; }

.settings .close-settings-button {
  font-size: 2.5em; }

.settings .settings-wrapper {
  display: flex;
  flex-direction: column; }

.notifications .close-notifications-button {
  font-size: 2.5em; }

.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s 0s linear, opacity 0.24s ease-out, transform 0.24s ease-out; }
